/* ===== GLOBAL RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: #e6e6e6;
}

/* ===== MAIN WRAPPER ===== */
.main-wrapper {
 
 
  background: linear-gradient(135deg, #07131f, #0e2c3d);
  border-radius: 25px;
  overflow: hidden;
  color: #fff;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.4);
}

.logo {
  font-weight: 600;
  font-size: 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #4ec3e0;
}

.nav-links .active {
  background: #4ec3e0;
  padding: 6px 16px;
  border-radius: 20px;
  color: #000;
}

.contact-btn {
  background: #4ec3e0;
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

/* ===== HERO SECTION ===== */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 80px 0px;
}

/* LEFT CONTENT */
.hero-content {
  max-width: 600px;
}

.subtitle {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.subtitle span {
  color: #4ec3e0;
}

.hero-content h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #4ec3e0;
}

.tagline {
  color: #4ec3e0;
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.description {
  font-size: 14px;
  line-height: 1.6;
  color: #cfcfcf;
  margin-bottom: 30px;
}

.hero-btn {
  display: inline-block;
  padding: 12px 28px;
  background: #4ec3e0;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #36a6c0;
}

/* RIGHT IMAGE */
.hero-image img {
  width: 420px;
  max-width: 100%;
  object-fit: cover;
}
/* _________services______________ */
.info-container {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  background-color: #0F131B;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 0px;
  padding-bottom: 59px;
  align-items: center;
}

.info-left-content {
  width: 45%;
  margin-top: 25px;
}

.info-main-heading {
  font-size: 44px;
  color: #ffffff;
  font-weight: bold;

}

.info-main-heading .info-highlight {
  font-size: 48px;
  color: #50A4BE;
  font-weight: bold;
  
}
.info-left {
  width: 45%;
}
.info-heading {
  font-size: 48px;
  color: #ffffff;
  line-height: 1.2;
  
 
}
.info-highlight {
  color: #50A4BE;
  font-weight: bold;
}

.info-description {
  color: #ffffff;
  font-size: 20px;
  margin: 25px 0;
 
  
}

.info-btn {
  background: #50A4BE;
  color: #ffffff;
  border: none;
  padding: 14px 32px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  
  
}


/* RIGHT GRID */
.info-right {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}


/* CARD DESIGN */
.info-card {
  width: 340px;
  height: 350px;
  background: rgba(80, 164, 190, 0.15);
  border: 1px solid #50A4BE;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(80, 164, 190, 0.4);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}
/* ICON */
.info-card-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.info-card-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* TEXT */
.info-card-title {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 10px;
}

.info-card-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}


/* ====== UP DOWN EFFECT ====== */
.card-1 {
  margin-top: 60px;
}

.card-2 {
  margin-top: 120px;
}

.card-3 {
  margin-top: -57px;
}

.card-4 {
  margin-top: 0px;
}

/* ______---sat Section_________ */
.stats-section {
  background: linear-gradient(#000000, #112938);


}

.stats-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;

        padding-top: 8%;
          padding-bottom: 8%;
}

.stat-box {
  text-align: center;
  padding: 30px 20px;
  color: #ffffff;
}

.stat-box h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stat-box p {
  font-size: 32px;
  margin: 0;
}
